/*
-----------------------
jhurs css portfolio @ 2021
-------------------------
*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

	html{
		scroll-behavior: smooth;

	}

	body{
		
		
		overflow-x: hidden;
    margin: 0 auto;
		/*background: #555;*/

	}
  .main-con {
    background: #454546/[];
  }
  #navbar .dot{
    color: lime;
  }
  #navbar .dot.active{
    color: #fff;
  }
  .btn-about{
    text-shadow: 0 18px 40 -12px #555;
  }
.about .resume-box .icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 20px;
  right: 0;
  line-height: 40px;
  text-align: center;
  z-index: 1;
  border-radius: 50%;
  color: #fff;
  background-color: #2eb7ef;
}
.theme-color-border {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 2px solid #e9ecef;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
    border-left-color: #5bc0de;
}
	.home-container{
		height: 100vh;
		
	
	}
	.home-container .bg{

		/*box-shadow: 0 0 7px rgba(0,0,0,.3);*/
  		height: 100%;
  		display: flex;
  		align-items: center;
  		justify-content: center;
  		
	}
  .btn-about a i {
    opacity: 0;
  }
.header {
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    height: calc(100vh - 200px);
    top: 100px;
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
  }

  .header.hide-header {
    z-index: 0 !important;
    opacity: 0;
  }

  .header ul.icon-menu {
    margin: 0;
    padding: 0;
  }

  .header ul.icon-menu li.icon-box {
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    background: #2b2a2a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .header ul.icon-menu li.icon-box i {
    color: #ddd;
    font-size: 19px;
    transition: .3s;
  }

  .header ul.icon-menu li.icon-box.active,
  .header ul.icon-menu li.icon-box:hover,
  .header ul.icon-menu li.icon-box.active i,
  .header ul.icon-menu li.icon-box:hover i {
    color: #fff;
    /*background: #000;*/
    cursor: pointer;
  }

  .header .icon-box h2 {
    font-size: 15px;
    font-weight: 500;
  }

  .header .icon-box a {
    display: block;
    padding: 0;
    width: 50px;
    height: 50px;
  }

  .header .icon-box i.fa {
    position: absolute;
    pointer-events: none;
  }

  .header .icon-menu i {
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 35px;
    top: 15px;
  }

  .header .icon-box h2 {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    color: #fff;
    line-height: 50px;
    font-weight: 500;
    transition: all .3s;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 0 25px 0 30px;
    height: 50px;
  }

  .header .icon-box a:hover h2, .header .icon-box:hover h2 {
    opacity: 1;
    right: 27px;
    margin: 0;
    text-align: center;
    border-radius: 30px 0 0 30px;
    background: #3fbcef;
    transition: 0.5s;
  }
  .btn-about:hover {
    background: #2b9fcf;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;

  }
	.home-container .bg img{
        margin-top: 100px;
	}
	.home-container .home-details div{
		  max-width: 450px;
		  margin: 0 auto;

		}
	.home-container .home-details{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.main-img-mobile {

/*    width: 180px;
    height: 180px;*/
  
    margin: 0 auto 25px;
    display: block;
  }
  .about .c100,
.about .resume-box .time {
  background-color: #eee;
}

.about .resume-box .time,
.about .resume-box p {
  color: #666;
}

.about .resume-box .place:before {
  background-color: #666;
}

.about  .resume-box li:after {
  border-left: 1px solid #ddd;
}
.resume-box ul li{
  list-style: none;
}
.about .c100 > span {
  color: #666;
}

.about .c100:after {
  background-color: #fff;
}

.about .about-list li:not(:last-child) {
  padding-bottom: 20px;
}

.about .about-list .title {
  opacity: .8;
  text-transform: capitalize;
}

.about .about-list .value {
  font-weight: 600;
}
header ul li i {
  z-index: 1000;
}
header ul li:hover {
  background: #3fbcef !important;
}
.contact-us{
  height: 100vh;
}
  /*----------------------------------------------------
  						about container
  -----------------------------------------------------*/
.title-bg {
  color: rgba(30, 37, 48, 0.07);
}

.about .box-stats {
  border: 1px solid #ddd;
}

.about .c100,
.about .resume-box .time {
  background-color: #eee;
}

.about .resume-box .time,
.about .resume-box p {
  color: #666;
}

.about .resume-box .place:before {
  background-color: #666;
}

.about  .resume-box li:after {
  border-left: 1px solid #ddd;
}

.about .c100 > span {
  color: #666;
}

.about .c100:after {
  background-color: #fff;
}
.about .box-stats {
  padding: 20px 30px 25px 40px;
  border-radius: 5px;
  border: 1px solid #252525;
}

.about .box-stats.with-margin {
  margin-bottom: 30px;
}
.main-container a {
  /*background: #393939;
  color: #000;*/
}
header {

}
/*.title-section h1{
    margin-bottom: 30px;
  }*/

  /*----------------------------------------------------
  						Portfolio
  -----------------------------------------------------*/
/*** Portfolio ***/


/* Grid */

.portfolio .grid-gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio .grid-gallery figure {
  margin: 0;
}

.portfolio .grid-gallery figure img {
  display: block;
  width: 100%;
  border-radius: 5px;
  transition: .3s;
}

.portfolio .grid-wrap {
  margin: 0 auto;
}

.portfolio .grid {
  margin: 0 auto;
}

.portfolio .grid li {
  width: 33.333333%;
  float: left;
  cursor: pointer;
  padding: 15px;
}

.portfolio .grid figure {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 5px;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.portfolio .grid figure img {
  display: block;
  position: relative;
}

.portfolio .grid li a {
  overflow: hidden;
}

.portfolio .grid li figure div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.portfolio .grid li figure div span {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}


.contact-us form button{
  border: none;
  outline: none;
  background: none;
  padding: 10px 60px;
  background: #00a8ec;
  border-radius: 20px;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
}
.contact-us ul li {
  list-style: none;
  margin-right: 10px;

}
.contact-us ul li{
  cursor: pointer;
  padding: 10px;
  background: dodgerblue;
  border-radius: 50%;
}
.contact-us ul li i{
  font-size: 25px;
  color: #fff;
}
.contact-us ul li a{
  text-decoration: none;

  
}
.contact-us h1 span {
  color: #3fbcef;
}
.contact-us h3{
  color: #3fbcef;
  font-weight: 500;
}
.contact-us .custom-span-contact i{
  font-size: 40px;
}
.contact-us .mail, .contact-us .phone{
  margin-left: 60px;
}

/*media screen for iphone users*/

@media (max-width: 350px){
  .about .box-stats h3{
    color: dodgerblue;
    font-weight: 700;
    
  }
  .about .box-stats{
    box-shadow: 0 18px 40px -12px #8888;
  }
  .about .box-stats h3:after {
  content: '+';
  position: absolute;
  right: 20px;
  font-size: 33px;
  font-weight: 500;
  top: 2px;
 
  
  }
}

@media (min-width: 300px) and (max-width: 576px){
  .about .custom-title{
    text-align: center;
    font-size: 15px;
  }
  .about .box-stats h3{
    color: dodgerblue;
    font-weight: 700;
    
  }

  .contact-us .custom-title{
    margin-top: 30px;
  }
  .home-container{
    height: 100vh;
    margin: 0 30px;
  }
  .home .home-details h1 span {
    color: #2eb7ef;
    font-weight: 500;
    margin-left: 0;
  }
  .about .box-stats h3:after {
  content: '+';
  position: absolute;
  right: 0;
  font-size: 33px;
  font-weight: 400;
  top: 2px;
}

   .main-img-mobile {
  /*  border: 4px solid #eee;*/
  }
  .contact-us form button{
    font-size: 15px;
    margin-bottom: 50px;
  }
  .contact-us ul li{
    padding: 8px;
  }
  .contact-us .mail, .contact-us .phone {
    margin-left: 50px;
    font-size: 14px;
  }
  .contact-us .custom-span-contact i {
    font-size: 35px;
   margin-top: 5px;
  }
  #menuToggle {
    border: 1px solid #ddd;
  }

  #menuToggle,
  #menu {
    background: #eee;
  }
  #menu li {
    cursor: pointer;
  }
  #menuToggle > span,
  #menuToggle input:checked ~ span {
    background: #666;
  }

  #menu li a {
    color: #666;
  }

  #menu li:after {
    background: #ddd;
  }
  .main-img-mobile {
/*
    width: 200px;
    height: 200px;
 */
    margin: 0 auto 25px;
    display: block;
  }
  #menuToggle {
    display: inline-block;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1111;
    user-select: none;
    padding: 19px 0 0 16px;
    width: 54px;
    height: 54px;
    border-radius: 5px;
    background: #252525;
  }

  #menuToggle input {
    display: flex;
    width: 54px;
    height: 54px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    top: 0;
    left: 0;
  }

  #menuToggle > span {
    display: flex;
    width: 23px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
  }

  #menuToggle > span:first-child {
    transform-origin: 0 0;
  }

  #menuToggle > span:nth-last-child(2) {
    transform-origin: 0 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(4px, 0);
    background: #fff;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(2px, 4px);
  }

  #menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 60px;
    background-color: #252525;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  #menu li {
    position: relative;
    padding-left: 30px;
  }

  #menu li:after {
    position: absolute;
    content: '';
    height: 1px;
    width: calc(100% - 60px);
    background: #333;
    left: 30px;
  }

  #menu li:last-child:after {
    display: none;
  }

  #menu li.active span {
    font-weight: 600;
  }

  #menu li {
    color: #fff;
    text-transform: uppercase;
    transition-delay: 2s;
    font-size: 26px;
    display: block;
    text-decoration: none;
    padding: 14px 0;
    position: relative;
  }

  #menu li span {
    position: absolute;
    left: 50px;
    font-weight: 400;
  }

}
.contact-us form button{
    font-size: 15px;
    margin-bottom: 50px;
  }

@media (min-width: 576px) and (max-width: 991.98px){
  .header ul.icon-menu li.icon-box {
    background-color: #000;
  }
  .contact-us{
    height: 100%;
  }
 .header ul.icon-menu li.icon-box i {
    color: #666;
  }

.home .home-details p {
 
  line-height: 40px;
}
.header ul.icon-menu li.icon-box:hover,
.header ul.icon-menu li.icon-box.active i,
.header ul.icon-menu li.icon-box:hover i {
    color: #fff;

  }
 .header ul.icon-menu li.icon-box.active{
  background: #3fbcef;
 } 
 .header{
  top: -50px;
 }

 .home .home-details h1 span {
  color: #2eb7ef;
  font-weight: 600;
 
}
}
@media (min-width: 576px){
  .header {
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    height: calc(100vh - 200px);
    top: 100px;
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
  }

  .header.hide-header {
    z-index: 0 !important;
    opacity: 0;
  }

  .header ul.icon-menu {
    margin: 0;
    padding: 0;
  }

  .header ul.icon-menu li.icon-box {
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    background: #2b2a2a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .header ul.icon-menu li.icon-box i {
    color: #fff;
    font-size: 19px;
    transition: .3s;
  }

  .header ul.icon-menu li.icon-box.active,
  .header ul.icon-menu li.icon-box:hover,
  .header ul.icon-menu li.icon-box.active i,
  .header ul.icon-menu li.icon-box:hover i {
    color: #fff;
    /*background: #000;*/
    cursor: pointer;
  }

  .header .icon-box h2 {
    font-size: 15px;
    font-weight: 500;
  }

  .header .icon-box a {
    display: block;
    padding: 0;
    width: 50px;
    height: 50px;
  }

  .header .icon-box i.fa {
    position: absolute;
    pointer-events: none;
  }

  .header .icon-menu i {
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 35px;
    top: 15px;
  }

  .header .icon-box h2 {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    color: #fff;
    line-height: 50px;
    font-weight: 500;
    transition: all .3s;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 0 25px 0 30px;
    height: 50px;
  }

  .header .icon-box a:hover h2, .header .icon-box:hover h2 {
    opacity: 1;
    right: 27px;
    margin: 0;
    text-align: center;
    border-radius: 30px 0 0 30px;
    background: #3fbcef;
    transition: 0.5s;
  }
}
@media (min-width: 600px) and (max-width: 800px){
  .header {
    position: fixed !important;
    right: 30px;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    height: calc(100vh - 200px);
    top: 100px;
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
  }

  .header.hide-header {
    z-index: 0 !important;
    opacity: 0;
  }

  .header ul.icon-menu {
    margin: 0;
    padding: 0;
  }

  .header ul.icon-menu li.icon-box {
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    background: #2b2a2a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .header ul.icon-menu li.icon-box i {
    color: #ddd;
    font-size: 19px;
    transition: .3s;
  }

  .header ul.icon-menu li.icon-box.active,
  .header ul.icon-menu li.icon-box:hover,
  .header ul.icon-menu li.icon-box.active i,
  .header ul.icon-menu li.icon-box:hover i {
    color: #fff;
    /*background: #000;*/
    cursor: pointer;
  }

  .header .icon-box h2 {
    font-size: 15px;
    font-weight: 500;
  }

  .header .icon-box a {
    display: block;
    padding: 0;
    width: 50px;
    height: 50px;
  }

  .header .icon-box i.fa {
    position: absolute;
    pointer-events: none;
  }

  .header .icon-menu i {
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 35px;
    top: 15px;
  }

  .header .icon-box h2 {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    color: #fff;
    line-height: 50px;
    font-weight: 500;
    transition: all .3s;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 0 25px 0 30px;
    height: 50px;
  }

  .header .icon-box a:hover h2, .header .icon-box:hover h2 {
    opacity: 1;
    right: 27px;
    margin: 0;
    text-align: center;
    border-radius: 30px 0 0 30px;
    background: #3fbcef;
    transition: 0.5s;
  }
  #menuToggle,
  #menu {
    display: none !important;
  }
  .header ul.icon-menu li.icon-box {
    background-color: #454546;
  }

 .header ul.icon-menu li.icon-box i {
    color: #fff;
  }

.header ul.icon-menu li.icon-box:hover,
.header ul.icon-menu li.icon-box.active i,
.header ul.icon-menu li.icon-box:hover i {
    color: #fff;

  }
 .header ul.icon-menu li.icon-box.active{
  background: #3fbcef;
 } 
}
  /*----------------------------------------------------------------------
  						min 992 responsive
  -----------------------------------------------------------------------*/
  @media (min-width: 992px) {
.header ul.icon-menu li.icon-box {
    background-color: #eee;
  }

 .header ul.icon-menu li.icon-box i {
    color: #666;
  }


.header ul.icon-menu li.icon-box:hover,
.header ul.icon-menu li.icon-box.active i,
.header ul.icon-menu li.icon-box:hover i {
    color: #000;

  }
 .header ul.icon-menu li.icon-box.active{
  background: #3fbcef;
 } 
  /*** About ***/

.about .main-content {
  padding-bottom: 20px;
}

/* Personal Info List */

.about .about-list li:not(:last-child) {
  padding-bottom: 20px;
}

.about .about-list .title {
  opacity: .8;
  text-transform: capitalize;
}

.about .about-list .value {
  font-weight: 600;
}

/* Box Stats */

.about .box-stats {
  padding: 20px 30px 25px 40px;
  border-radius: 5px;
  border: 1px solid #252525;
}

.about .box-stats.with-margin {
  margin-bottom: 30px;
}

.about .box-stats h3 {
  position: relative;
  display: inline-block;
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  color: #3fbcef;
}

.about .box-stats h3:after {
  content: '+';
  position: absolute;
  right: -24px;
  font-size: 33px;
  font-weight: 400;
  top: 2px;
}

.about .box-stats p {
  padding-left: 45px;
}

.about .box-stats p:before {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  width: 30px;
  height: 1px;
  background: #777;
}

/* Resume */

.about .resume-box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about .resume-box li {
  position: relative;
  padding: 0 20px 0 60px;
  margin: 0 0 50px;
}

.about .resume-box li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  bottom: 0;
  border-left: 1px solid #333;
}

.about .resume-box .icon {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  right: 0;
  line-height: 40px;
  text-align: center;
  z-index: 1;
  border-radius: 50%;
  color: #fff;
  background-color: #2eb7ef;
}

.about .resume-box .time {
  color: #fff;
  font-size: 12px;
  padding: 1px 10px;
  display: inline-block;
  margin-bottom: 12px;
  border-radius: 20px;
  font-weight: 600;
  background-color: #252525;
  opacity: .8;
}

.about .resume-box h5 {
  font-size: 18px;
  margin: 7px 0 10px;
}

.about .resume-box p {
  margin: 0;
  color: #343434;
  font-size: 14px;
}

.about .resume-box .place {
  opacity: .8;
  font-weight: 600;
  font-size: 15px;
  position: relative;
  padding-left: 26px;
}

.about .resume-box .place:before {
  position: absolute;
  content: '';
  width: 10px;
  height: 2px;
  background-color: #fff;
  left: 7px;
  top: 9px;
  opacity: .8;
}

/* Skills */

.about .c100 {
  float: none !important;
  margin: 0 auto;
  background-color: #252525;
}

.about .c100 > span {
  color: #fff;
}

.about .c100:after {
  background-color: #111;
}


/*-----------------------------------------------------------------------
  						max 992 responsive
  ----------------------------------------------------------------------*/
@media (max-width: 991px) {

 /* .main-img-mobile {
    border: 4px solid #eee;
  }

  #menuToggle {
    border: 1px solid #ddd;
  }

  #menuToggle,
  #menu {
    background: #eee;
  }

  #menuToggle > span,
  #menuToggle input:checked ~ span {
    background: #666;
  }

  #menu li a {
    color: #666;
  }

  #menu li:after {
    background: #ddd;
  }
  .main-img-mobile {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 4px solid #252525;
    margin: 0 auto 25px;
    display: block;
  }
  #menuToggle {
    display: inline-block;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 1111;
    user-select: none;
    padding: 19px 0 0 16px;
    width: 54px;
    height: 54px;
    border-radius: 5px;
    background: #252525;
  }

  #menuToggle input {
    display: flex;
    width: 54px;
    height: 54px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    top: 0;
    left: 0;
  }

  #menuToggle > span {
    display: flex;
    width: 23px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
  }

  #menuToggle > span:first-child {
    transform-origin: 0 0;
  }

  #menuToggle > span:nth-last-child(2) {
    transform-origin: 0 100%;
  }

  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(4px, 0);
    background: #fff;
  }

  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(2px, 4px);
  }

  #menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: 60px;
    background-color: #252525;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }

  #menu li {
    position: relative;
    padding-left: 30px;
  }

  #menu li:after {
    position: absolute;
    content: '';
    height: 1px;
    width: calc(100% - 60px);
    background: #333;
    left: 30px;
  }

  #menu li:last-child:after {
    display: none;
  }

  #menu li.active a span {
    font-weight: 600;
  }

  #menu li a {
    color: #fff;
    text-transform: uppercase;
    transition-delay: 2s;
    font-size: 26px;
    display: block;
    text-decoration: none;
    padding: 14px 0;
    position: relative;
  }

  #menu li a span {
    position: absolute;
    left: 50px;
    font-weight: 400;
  }
*/
  body.light.portfolio .slideshow nav {
    background: #eee;
    border-bottom: 1px solid #ddd;
  }

  body.light.portfolio .slideshow nav span img {
    display: none;
  }
/* 
  body.light.portfolio .slideshow nav span.nav-next {
    background-image: url("../img/projects/navigation/right-arrow.png");
    background-size: cover;
  }

  body.light.portfolio .slideshow nav span.nav-prev {
    background-image: url("../img/projects/navigation/left-arrow.png");
    background-size: cover;
  } */

  /* body.light.portfolio .slideshow nav span.nav-close {
    background-image: url("../img/projects/navigation/close-button.png");
    background-size: cover;
  } */

  body.light.portfolio .slideshow nav span.nav-next,
  body.light.portfolio .slideshow nav span.nav-prev {
    top: 51px;
  }

  body.light.portfolio .slideshow {
    background: #fff;
  }
}
/*-----------------------------------------------------------------------
  						max 576 responsive
  ------------------------------------------------------------------------*/

@media (max-width: 576px) {
  .contact-us{
  height: 100%;
}
  .title-section {
    background: #eee;
    border-bottom: 1px solid #ddd;
  }
  .title-section h1{
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
  }
  .about h3{
    text-align: center;
    padding: 10px;
    font-size: 18px;
  }
  .contact-us h1{
  color: #555;
}
  .contact-us{
  height: 100%;
}
  .portfolio h3{
    text-align: center;
    margin-top: 30px;
  }
  #menuToggle {
    border: 0;
  }

  body.light.portfolio .slideshow nav span.nav-next,
  body.light.portfolio .slideshow nav span.nav-prev {
    top: 31px;
  }
  .about .main-content {
    padding-bottom: 0;
  }

  .about .resume-box h5 {
    font-size: 17px;
  }
  .resume-box ul li {
    list-style: none;
    border-left: 1px solid gray;
    margin-left: -30px;
    padding-left: 30px;
  }

  .about .box-stats {
    padding: 15px 20px 20px 25px;
  }

  .about .c100 {
    transform: scale(.8);
  }

  .about .box-stats.with-margin {
    margin-bottom: 25px;
  }

  .about .box-stats h3 {
    font-size: 40px;
  }

  .about .box-stats p {
    padding-left: 0;
    font-size: 12px;
    text-align: center;
  }

  .about .box-stats p:before {
    display: none;
  }

  .portfolio .img-gal .img-con{
  width: auto;
  height: auto;
  object-fit: contain;
  /*border: 1px solid gray;*/
  overflow: hidden;
  border-radius: 5px;
  }
  .portfolio .img-gal .img-con img{
    object-fit: contain;
  }
}
/*----------------------------------------------------
  						buttons
  -----------------------------------------------------*/
  /*** Buttons ***/
.btn {
 /* box-shadow: none !important;*/
 box-shadow: 0 18px 40px -12px #888888;
  border-radius: 26px;
  font-weight: 500;
  height: 46px;
  line-height: 46px;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  padding: 0 40px;
  outline: none !important;
  overflow: hidden;
  display: inline-block;
  position: relative;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .5px;
  border: 0;
  background: dodgerblue;
}

.btn,
.btn:hover,
.btn:focus {
  color: #fff;
  text-decoration: none;
}

/*-----------------------------------------------------------------------
  						Desktop Navigation
  ------------------------------------------------------------------------*/

@media (min-width: 992px) {

  /*** Navigation ***/

  .header {
    position: fixed;
    right: 30px;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    height: calc(100vh - 200px);
    top: 100px;
    opacity: 1;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
  }

  .header.hide-header {
    z-index: 0 !important;
    opacity: 0;
  }

  .header ul.icon-menu {
    margin: 0;
    padding: 0;
  }

  .header ul.icon-menu li.icon-box {
    width: 50px;
    height: 50px;
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
    transition: .3s;
    margin: 20px 0;
    border-radius: 50%;
    background: #2b2a2a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .header ul.icon-menu li.icon-box i {
    color: #ddd;
    font-size: 19px;
    transition: .3s;
  }

  .header ul.icon-menu li.icon-box.active,
  .header ul.icon-menu li.icon-box:hover,
  .header ul.icon-menu li.icon-box.active i,
  .header ul.icon-menu li.icon-box:hover i {
    color: #fff;
    /*background: #000;*/
    cursor: pointer;
  }

  .header .icon-box h2 {
    font-size: 15px;
    font-weight: 500;
  }

  .header .icon-box a {
    display: block;
    padding: 0;
    width: 50px;
    height: 50px;
  }

  .header .icon-box i.fa {
    position: absolute;
    pointer-events: none;
  }

  .header .icon-menu i {
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    font-size: 35px;
    top: 15px;
  }

  .header .icon-box h2 {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    color: #fff;
    line-height: 50px;
    font-weight: 500;
    transition: all .3s;
    border-radius: 30px;
    text-transform: uppercase;
    padding: 0 25px 0 30px;
    height: 50px;
  }

  .header .icon-box a:hover h2, .header .icon-box:hover h2 {
    opacity: 1;
    right: 27px;
    margin: 0;
    text-align: center;
    border-radius: 30px 0 0 30px;
    background: #3fbcef;
    transition: 0.5s;
  }

  /* [ Pages ] */
/*================================================== */

/*** Homepage ***/

.home .color-block {
  position: fixed;
  height: 200%;
  width: 100%;
  transform: rotate(-15deg);
  left: -83%;
  top: -50%;
}

.home .bg {
 
  height: calc(100vh - 60px);
  z-index: 111;

  left: 30px;
  top: 50px;
/*  background: #2dacdf;*/
  /*box-shadow: 0 0 7px rgba(0,0,0,.9);*/
/*  border-left: 12px solid #119cd4;
  border-top: 12px solid #119cd4;
  border-right: 1px solid #119cd4;*/
}

.home .container-home {
  display: flex;
  align-items: center;
  min-height: 100%;
}

.home .home-details > div {
  max-width: 450px;
  margin: 0 auto;
}

.home .home-details h1 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  margin: 18px 0 10px;
  color: #444;
}

.home .home-details h1 span {
  color: #2eb7ef;
  font-weight: 600;
  margin-left: 10px;
}

.home .home-details h6 {
  color: #000;
  font-size: 22px;
  font-weight: 400;
  display: block;
}

.home .home-details p {
  margin: 10px 0 23px;
  font-size: 16px;
  line-height: 32px;
}

}

.portfolio .img-gal .img-con{
  width: auto;
  height: auto;
  object-fit: contain;
/*  border: 1px solid gray;*/
  overflow: hidden;
 border-radius: 5px;
 cursor: pointer;
}
.portfolio .img-gal .img-con img{
  object-fit: contain;
  cursor: pointer;
}

/*small devices responsive css */
@media (max-width: 576px){
  .portfolio .img-gal .img-con{
  width: auto;
/*  height: 180px !important;*/
  object-fit: cover;
/*  border: 1px solid gray;*/
  overflow: hidden;
 border-radius: 5px;
}
.portfolio .img-gal .img-con img{
  object-fit: cover;
 
}
.portfolio .img-gal {
  margin: 0 30px;
}
#contact h1{
  text-align: center;
  margin-top: 20px;
  color: #555 !important;

  }
}

/*another portfolio*/
.portfolio .img-gal .img-con{
  position: relative;
}
.portfolio .img-gal .img-con .txt-bx{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: blue;
  transition: 0.5s;
  color: #fff;
  opacity: 0;
}
.portfolio .img-gal .img-con:hover .txt-bx{
  opacity: 1 !important;
 

}
/*another contact css*/
#contact{
  background: #454546;
}
#contact h1,
#contact p{
  color: #fff;

}
#contact h1{
  letter-spacing: 2px;
}


/*---------------------
  button scroll to top 
-----------------------*/
#button {
  display: inline-block;
  background-color: #FF9800;
  outline: none;
  border:none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button:hover {
  cursor: pointer;
  background-color: #2b9fcf;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
#button i {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

/*-------------------------------------------------------
      progress bar width
------------------------------------------------*/
.exp .html{
  width: 80%;
}
.exp .css{
  width: 50%;
}
.exp .boot{
  width: 70%;
}
.exp .js{
  width: 55%;
}
.exp .jquery,
.exp .php{
  width: 60%;
}

.exp .pshop{
  width: 70%;
}

.exp .sql{
  width: 50%;
}



}